<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Add to Cart</title>
</head>
<body>
<section>
<div class="container">
    <div class="row">
        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-info">
            <p class="text-center" th:text="${session.message.content}"></p>

            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="my-card">
                <h1 class="text-center mb-3">Order</h1>

                <form th:action="@{/user/addToCart}"  method="post">
                    <div th:object="${product}">
                        <div class="form-group mb-3">
                            <label for="number">Product Name</label>
                            <input type="number" class="form-control" id="number"
                                   th:field="*{productId}"
                            >
                        </div>
                        <div class="form-group mb-3">
                            <label for="product">Product Name</label>
                            <input type="text" class="form-control" id="product"
                                   th:field="*{productName}"
                            >
                        </div>

                        <div th:object = "${myCart}">
                            <div class="form-group mb-3">
                                <label for="productCount">Quantity</label>
                                <input type="number" class="form-control" id="productCount" placeholder="Quantity"
                                       th:field="*{productCount}" th:errorClass="is-invalid"
                                >
                                <p th:if="${#fields.hasErrors('productCount')}" th:errors="*{productCount}" class="invalid-feedback"></p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>