<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>UserRegistration</title>
    <style>
        .error
        {
            color:red;
        }
    </style>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="my-card">

        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-info">
          <p class="text-center" th:text="${session.message.content}"></p>

          <th:block th:text="${#session.removeAttribute('message')}"></th:block>
        </div>

        <h1 class="text-center mb-3">User Registration</h1>

        <form action="" th:action="@{/home/user/register}" th:object="${user}" method="post">
            <div class="form-group mb-3">
              <label for="email_feild">User Email</label>
              <input type="email" class="form-control" id="email_feild" placeholder="email"
                     th:field="*{email}"
              >
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">
                </p>
            </div>

            <div class="form-group mb-3">
              <label for="username_feild">User Name</label>
              <input type="text" class="form-control" id="username_feild" placeholder="username"
                     th:field="*{name}" required autofocus="autofocus"
              >
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>

            <div class="form-group mb-3">
              <label for="password_feild">Password</label>
              <input type="password" class="form-control" id="password_feild" placeholder="password"
                     th:field="*{password}" required autofocus="autofocus"
              >
            </div>

            <div class="form-group mb-3">
              <label for="contact_feild">Contact</label>
              <input type="number" class="form-control" id="contact_feild" placeholder="contact"
                     th:field="*{contact}" required autofocus="autofocus"
              >
            </div>

            <div class="form-group mb-3">
              <label for="address_feild">Address</label>
              <input type="text" class="form-control" id="address_feild" placeholder="Address"
                     th:field="*{address}"
              >
            </div>
            <div class="form-group mb-3">
                <label th:for="role"> Select Role</label>
                <select name="roles" th:field="*{role}">
                    <option th:each="role : ${roles}"
                            th:text="${role}"
                            th:value="${role}">
                    </option>
                </select>
            </div>

            <div class="container text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>

      </div>
    </div>
  </div>

</div>
</body>
</html>